*~
*.in
configure
build/
aclocal.m4
autom4te.cache/
m4/
*.o
*.a
*.lo
*.la
*.dll
*.map
config.log
config.status
libtool
.deps/
.libs/
Makefile
*.suo
*.ncb
*.user
Debug/
Release/
asmobjs/
x64/
GPATH
GRTAGS
GTAGS
GSYMS
.DS_Store
*.aps
*.xccheckout
.vs/
ipch/
*.VC.db
*.VC.opendb
.vscode/
